<app-nav></app-nav>

<div class="content-wrapper">
  
    <div class="containe clearfix">
        <div class="row main">
            <div class="top-heading text-center">
                Alfred Jordan Pvt. Ltd.
            </div>
        </div>
    </div>    

    <div class="containe clearfix">
        <div class="row main">
            <div class="col-sm-4">
                <div class="card text-center">
                    <h1><i class="fa fa-share-square"></i></h1>
                    <h3>SEND PAYMENT REQUEST</h3>
                    <p><a routerLink="/admin/payment-request" class="btn btn-primary btn-block">SEND</a></p>
                </div>
            </div>
                
            <div class="col-sm-4">
                <div class="card text-center">
                    <h1><i class="fa fa-hourglass-end"></i></h1>
                    <h3>PENDING REQUESTS HISTORY</h3>
                    <p><a href="#" class="btn btn-primary btn-block">PENDING HISTORY</a></p>
                </div>
            </div>
                
            <div class="col-sm-4">
                <div class="card text-center">
                    <h1><i class="fa fa-hourglass-end"></i></h1>
                    <h3>PENDING PAYMENT REQUESTS</h3>
                    <p><a href="#" class="btn btn-primary btn-block">PAYMENT REQUESTS</a></p>
                </div>
            </div>
        </div>
            
        <div class="row main"> 
            <table class="table table-bordered">
                <thead class="bg-light">
                    <tr>
                        <th>Name</th>
                        <th>Email id</th>
                        <th>Contact No</th>
                        <th>Req. Date</th>
                        <th>Payment Date</th>
                        <th class="text-center">View Details</th>
                    </tr>
                </thead>
                    
                <tbody>
                    <tr class="bg-success text-white">
                        <td>Client name</td>
                        <td>clientname@email.com</td>
                        <td>9876543215</td>
                        <td>18-03-2018</td>
                        <td>20-03-2018</td>
                        <td class="text-center"><a href="#" class="btn btn-secondary">View</a></td>
                    </tr>
                    <tr class="bg-danger text-white">
                        <td>Client name</td>
                        <td>clientname@email.com</td>
                        <td>9876543215</td>
                        <td>18-03-2018</td>
                        <td>20-03-2018</td>
                        <td class="text-center"><a href="#" class="btn btn-secondary">View</a></td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
     
    
 <a class="scroll-to-top rounded" href="#page-top">
   <i class="fa fa-angle-up"></i>
 </a>
</div>